---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Demo from '../components/Demo.astro';
import WhoUsesThis from '../components/WhoUsesThis.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AllTemplates from '../components/AllTemplates.astro';
import Community from '../components/Community.astro';
import Registry from '../components/Registry.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Symbiotic AI - AI that knows you">
  <Header />
  <main>
    <Hero />
    <Demo />
    <WhoUsesThis />
    <HowItWorks />
    <AllTemplates />
    <Community />
    <Registry />
    <Install />
  </main>
  <Footer />
</Layout>
